.asWrapper {
	height: auto;
 	min-height: 100%;
  	padding-bottom: 195px;
	
}

.boardMenu {
	width : 100%;
	display: flex;
	justify-content : flex-end;
}

.ASTable--thead {
	font-size : 18px !important;
}

.ASTable--tbody {
	font-size : 18px !important;
	font-weight : 300 !important;
	color : black !important;
}

.progress__container {
	display:flex;
	align-items : center;
	justify-content : center;
}

.prograss {
	width : 100px !important;
	border : none !important;
	border-bottom : 1px solid black !important;
	margin-right : 20px !important;
}

.proBtn {
	all : unset;
	border : none !important;
}

.doNotEnterAs__container {
	display:flex;
	align-items: center;
	height: auto;
	width : 100%;
 	min-height: 100%;
  	padding-bottom: 195px;
}

.doNotEnterAs__inner {
	display: flex;
	align-items: center;
	justify-content : center;
	width : 40%;
	height : 700px;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	text-align : center;
}

.fa-circle-xmark {
	font-size : 300px;
}

.doNotEnterAsGoMain {
	border : 1px solid rgb(9, 41, 97);
	background-color : rgb(9, 41, 97);
	border-radius : 30px;
	color : white;
	padding : 10px 30px;
	font-size : 25px;
}