.asSuccess__container {
	display:flex;
	align-items: center;
	height: auto;
	width : 100%;
 	min-height: 100%;
  	padding-bottom: 195px;
}

.asSuccess__inner {
	display: flex;
	align-items: center;
	justify-content : center;
	width : 40%;
	height : 700px;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	text-align : center;
}

.fa-circle-check {
	font-size : 300px;
}

.asSuccessGoMain {
	border : 1px solid rgb(9, 41, 97);
	background-color : rgb(9, 41, 97);
	border-radius : 30px;
	color : white;
	padding : 10px 30px;
	font-size : 25px;
}