#footer {
	height: 216px;
	width: 100%;
	display: flex; 
	justify-content : center;
	background-color : #F8F9FA;
	position : relative;
    transform : translateY(-100%);
}

.footer__inner {
	width: 60%;
}

.footer__up {
	display: flex;
	align-items : center;
}

.footer__down {
	font-size : 12px;
}

.footerlogo {
	width : 100px;
	height : 100px;
}

.footer__icons {  
	padding-top : 15px;
	padding-bottom : 15px;
}

.fa-brands {
	margin-right : 30px;
}

.footerlogo,
.footer__up-textrow1,
.footer__up-textrow2,
.footer__up-textrow3,
.footer__up-textrow4 {
	margin-right : 30px;
}

.footer__up-textrow1 {
	height : 100px;
	display: flex;
	flex-direction : column;
	justify-content: space-around;
	font-size : 15px;
	font-weight : 600;
}
.footer__up-textrow2 {
	height : 100px;
	display: flex;
	flex-direction : column;
	justify-content: space-around;
	font-size : 15px;
	font-weight : 600;
}
.footer__up-textrow3 {
	height : 100px;
	display: flex;
	flex-direction : column;
	justify-content: space-around;
	font-size : 15px;
	font-weight : 400;
}
.footer__up-textrow4 {
	height : 100px;
	display: flex;
	flex-direction : column;
	justify-content: space-around;
	font-size : 15px;
	font-weight : 400;
}

hr {
	margin : 0;
}