.login__container {
  height: 100%;
  width: 30%;
  margin: 0 auto;
  padding: 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginbtnContainer {
  margin: 0 auto;
  line-height: 1.5em;
}

.hide {
	display: none;
}

.loginAlertBox {
	width: 100%;
	display : flex;
	align-items : center;
	justify-content: center;
}

.loginAlert {
	font-size: 20px;
	color : red;
}

.n_loginbtn__container {
	width : 100%;
	display : flex;
	justify-content : center;
}

.loginBtn {
	display: flex;
	all : unset;
	cursor : pointer;
	width : 185px;
	height : 40px;
	text-align : center;
	line-height : 40px;
	border : 1px solid black;
	margin-bottom : 5px;
}